/* Responsive Styles */

@media screen and (max-width: 768px) {

    .header .logo {
        width: 200px;
    }

    .home,
    .about,
    .contact,
    .services,
    .skills,
    .project {
        position: relative;
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .main-container {
        margin-top: 120px;
    }

    .home {
        height: 400px;
        background-position: right;
        background-size: 200%;
    }

    .home-content {
        margin-top: 400px;
    }

    .home h3,
    .text {
        font-size: 20px;
    }

    .home h1 {
        font-size: 50px;
    }

    .home p {
        font-size: 15px;
    }

    .container,
    .container1 {
        padding: 20px;
        margin: 0 auto;
    }

    .about {
        margin-top: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .about .about-img-section img {
        text-align: center;
        padding: 0;
    }

    .about .about-text {
        padding: 0 20px;
    }

    .about .about-text p {
        padding-right: 0;
        padding: 0 0 20px;
        font-size: 14px;
    }

    .footer {
        width: 100%;
    }

    .btn-go-top {
        bottom: 3rem;
        right: 4rem;
    }

    #links-container {
        animation: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1000;
        width: 300px;
        background-color: rgba(8, 27, 41, 0.95);
        box-shadow: -5px 0 5px rgba(8, 27, 41, 0.25);
        transition: 0.5s ease-in-out;
    }

    #links-container a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-btn,
    .close-sidebar-btn {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked~#links-container {
        right: 0;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .navbar a:visited~#links-container {
        right: -100%;
    }
}

@media screen and (max-width: 480px) {
    .home {
        height: 250px;
        background-position: right;
        background-size: 200%;
    }

    .home-content {
        margin-top: 250px;
    }

}